rttCleintApp/RttClient/Service References/ClientService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAllClients">
        <s:complexType />
      </s:element>
      <s:element name="GetAllClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllClientsResult" type="tns:ArrayOfClientDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClientDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ClientDetail" nillable="true" type="tns:ClientDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ClientDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdNumber" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveClientData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idNumber" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveClientDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveClientDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAddressData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="streetAddressline1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="streetAddressline2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="province" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAddressDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveAddressDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContactData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveContactDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveContactDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAddressDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAddressDetailsResult" type="tns:ArrayOfAddressDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAddressDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AddressDetails" nillable="true" type="tns:AddressDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StreetAddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Province" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PostalCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactDetailsResult" type="tns:ArrayOfContactDetails" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactDetails">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactDetails" nillable="true" type="tns:ContactDetails" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactDetails">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ClientId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllClientsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="GetAllClientsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveClientDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveClientData" />
  </wsdl:message>
  <wsdl:message name="SaveClientDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveClientDataResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAddressDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAddressData" />
  </wsdl:message>
  <wsdl:message name="SaveAddressDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAddressDataResponse" />
  </wsdl:message>
  <wsdl:message name="SaveContactDataSoapIn">
    <wsdl:part name="parameters" element="tns:SaveContactData" />
  </wsdl:message>
  <wsdl:message name="SaveContactDataSoapOut">
    <wsdl:part name="parameters" element="tns:SaveContactDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAddressDetails" />
  </wsdl:message>
  <wsdl:message name="GetAddressDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAddressDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactDetails" />
  </wsdl:message>
  <wsdl:message name="GetContactDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="GetAllClients">
      <wsdl:input message="tns:GetAllClientsSoapIn" />
      <wsdl:output message="tns:GetAllClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveClientData">
      <wsdl:input message="tns:SaveClientDataSoapIn" />
      <wsdl:output message="tns:SaveClientDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAddressData">
      <wsdl:input message="tns:SaveAddressDataSoapIn" />
      <wsdl:output message="tns:SaveAddressDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveContactData">
      <wsdl:input message="tns:SaveContactDataSoapIn" />
      <wsdl:output message="tns:SaveContactDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAddressDetails">
      <wsdl:input message="tns:GetAddressDetailsSoapIn" />
      <wsdl:output message="tns:GetAddressDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactDetails">
      <wsdl:input message="tns:GetContactDetailsSoapIn" />
      <wsdl:output message="tns:GetContactDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientData">
      <soap:operation soapAction="http://tempuri.org/SaveClientData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAddressData">
      <soap:operation soapAction="http://tempuri.org/SaveAddressData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactData">
      <soap:operation soapAction="http://tempuri.org/SaveContactData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressDetails">
      <soap:operation soapAction="http://tempuri.org/GetAddressDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactDetails">
      <soap:operation soapAction="http://tempuri.org/GetContactDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClients">
      <soap12:operation soapAction="http://tempuri.org/GetAllClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveClientData">
      <soap12:operation soapAction="http://tempuri.org/SaveClientData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAddressData">
      <soap12:operation soapAction="http://tempuri.org/SaveAddressData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveContactData">
      <soap12:operation soapAction="http://tempuri.org/SaveContactData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddressDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAddressDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactDetails">
      <soap12:operation soapAction="http://tempuri.org/GetContactDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="http://localhost:61525/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="http://localhost:61525/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>